extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Read &amp; Share Books
    p.lead Choose from our large collection of paid and free books!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE


